<a href="https://colab.research.google.com/github/JSWLDS/colab/blob/master/20116.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
gender = "남자"
if gender == "남자" :
  print("남자입니다.")
elif gender == "여자" :
  print("여자입니다.")
else :
  print("논바이너리입니다.")

남자입니다.

In [ ]:

def add(a, b) : 
  result = a + b
  print(result)
add(2, 3)

5

In [ ]:
a=23
b=5
div=int(a/b)
print("변수 div는 {}입니다.".format(div))

변수 div는 4입니다.

In [ ]:
rainbow=["빨","주","노","초","파","남","보"]
for i, color in enumerate(rainbow) :
  print("{}번째 색은 {}".format(i+1, color))

1번째 색은 빨
2번째 색은 주
3번째 색은 노
4번째 색은 초
5번째 색은 파
6번째 색은 남
7번째 색은 보

In [ ]:
days = [31,29,31,30,31,30,31,31,30,31,30,31]
for i, day in enumerate(days) :
  print("{}월의 날짜 수는 {}일 입니다.".format(i+1, day))

1월의 날짜 수는 31일 입니다.
2월의 날짜 수는 29일 입니다.
3월의 날짜 수는 31일 입니다.
4월의 날짜 수는 30일 입니다.
5월의 날짜 수는 31일 입니다.
6월의 날짜 수는 30일 입니다.
7월의 날짜 수는 31일 입니다.
8월의 날짜 수는 31일 입니다.
9월의 날짜 수는 30일 입니다.
10월의 날짜 수는 31일 입니다.
11월의 날짜 수는 30일 입니다.
12월의 날짜 수는 31일 입니다.

In [ ]:
import random
random_number = random.randrange(2, 5)
print(random_number)

2

In [ ]:
days_in_month = {"1월":31, "2월":28, "3월":31, "4월":30, "5월":31}
for i, day in days_in_month.items() :

  print("{}은 {}일이 있습니다.".format(i, day))

1월은 31일이 있습니다.
2월은 28일이 있습니다.
3월은 31일이 있습니다.
4월은 30일이 있습니다.
5월은 31일이 있습니다.

In [ ]:
products = {"풀" : 800, "색종이": 1000}

for title, price in products.items() :
    print("{}의 가격: {}원".format(title, price))

풀의 가격: 800원
색종이의 가격: 1000원