<a href="https://colab.research.google.com/github/JSWLDS/colab/blob/master/20116.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
gender = "남자"
if gender == "남자" :
  print("남자입니다.")
elif gender == "여자" :
  print("여자입니다.")
else :
  print("논바이너리입니다.")

남자입니다.

In [ ]:
#2
def add(a, b) : 
  result = a + b
  print(result)
add(2, 3)

5

In [ ]:
#3
a=23
b=5
div=int(a/b)
print("변수 div는 {}입니다.".format(div))

변수 div는 4입니다.

In [ ]:
#4
rainbow=["빨","주","노","초","파","남","보"]
for i, color in enumerate(rainbow) :
  print("{}번째 색은 {}".format(i+1, color))

1번째 색은 빨
2번째 색은 주
3번째 색은 노
4번째 색은 초
5번째 색은 파
6번째 색은 남
7번째 색은 보

In [ ]:
#5
days = [31,29,31,30,31,30,31,31,30,31,30,31]
for i, day in enumerate(days) :
  print("{}월의 날짜 수는 {}일 입니다.".format(i+1, day))

1월의 날짜 수는 31일 입니다.
2월의 날짜 수는 29일 입니다.
3월의 날짜 수는 31일 입니다.
4월의 날짜 수는 30일 입니다.
5월의 날짜 수는 31일 입니다.
6월의 날짜 수는 30일 입니다.
7월의 날짜 수는 31일 입니다.
8월의 날짜 수는 31일 입니다.
9월의 날짜 수는 30일 입니다.
10월의 날짜 수는 31일 입니다.
11월의 날짜 수는 30일 입니다.
12월의 날짜 수는 31일 입니다.

In [ ]:
#6
import random
random_number = random.randrange(2, 5)
print(random_number)

2

In [ ]:
#7
days_in_month = {"1월":31, "2월":28, "3월":31, "4월":30, "5월":31}
for i, day in days_in_month.items() :

  print("{}은 {}일이 있습니다.".format(i, day))

1월은 31일이 있습니다.
2월은 28일이 있습니다.
3월은 31일이 있습니다.
4월은 30일이 있습니다.
5월은 31일이 있습니다.

In [ ]:
#8
products = {"풀" : 800, "색종이": 1000}

for title, price in products.items() :
    print("{}의 가격: {}원".format(title, price))

풀의 가격: 800원
색종이의 가격: 1000원

In [42]:
#9
shops = {
    "송일문방구": {"가위": 500, "크레파스": 3000},
    "알파문구": {"풀": 800, "도화지": 300, "A4용지": 8000},
    "다이소": {"풀": 500, "목공본드": 2000, "화분": 3000}
}

for shop, products in shops.items():
  try :
    for product, price in products.items():
        if product =='풀':
            print("{}: {}원".format(shop, price))
            raise StopIteration
  except :
    break

알파문구: 800원

In [47]:
#10
str = "오늘은 날씨가 흐림"

# split()을 이용해서 str을 공백으로 나눈 문자열을 words에 저장하세요
words = str.split(" ")                                 

# index()를 이용해서 "흐림"이 words의 몇번째에 있는지 찾고, 
# position에 저장하세요.
position = words.index("흐림")                                      
words[position] = "맑음"

# join()을 이용해서 words를 다시 문자열로 바꿔 new_str에 저장하세요. 
# words를 문자열로 바꿀때는 공백 한 칸을 기준으로 붙이면 됩니다.
new_str =" ".join(words)   
print(new_str)

오늘은 날씨가 맑음

In [54]:
#11
list1 = list(range(20))

# new_list가 5, 8, 11, 14의 값을 가지도록 list1을 slice하세요
new_list = list1[5:15:3] 
print(new_list)

# reverse_list가 17, 13, 9, 5의 값을 가지도록 list1을 slice하세요
reverse_list = list1[-3:-16:-4]                          
print(reverse_list)

[5, 8, 11, 14]
[17, 13, 9, 5]

In [58]:
#12
class Human():
    
    def __init__(self, name, weight):
        self.name = name
        self.weight = weight
    
    def __str__(self):
        return "{} (몸무게 {}kg)".format(self.name, self.weight)
    
    def eat(self):
        self.weight += 0.1
        print("{}가 먹어서 {}kg이 되었습니다.".format(self.name, self.weight))
    
    def walk(self):
        self.weight -= 0.1
        print("{}가 걸어서 {}kg이 되었습니다.".format(self.name, self.weight))

# 아래에서 person을 이름과 몸무게를 가지는 Human클래스의 인스턴스로 만들어보세요.
person = Human("정서원", 60)
person.walk()
person.walk()
person.eat()

print(person)

정서원가 걸어서 59.9kg이 되었습니다.
정서원가 걸어서 59.8kg이 되었습니다.
정서원가 먹어서 59.9kg이 되었습니다.
정서원 (몸무게 59.9kg)

In [68]:
#13
class Car():    
    def run(self):
        print("차가 달립니다.")
class Truck(Car):    
    def load(self):
        print("짐을 실었습니다.")
    # 이 아래에서 run 메소드를 오버라이드 하세요.
    def run(self):
      print("트럭이 달립니다.")
truck = Truck()
truck.run()

트럭이 달립니다.

In [72]:
#14
class Car():
    
    def __init__(self, name):
        self.name = name
    
    def run(self):
        print("차가 달립니다.")


class Truck(Car):
    # 이 아래에서 __init__ 메소드를 오버라이드 하세요.
    def __init__(self, name, capacity):
        super().__init__( name )
        self.capacity = capacity
        
    def load(self):
        print("짐을 실었습니다.")

In [77]:
#15
product_list = ["풀", "가위", "크래파스"]
price_list = [800, 2500, 5000]
product_dict = {x : y for x, y in zip(product_list, price_list)}


print(product_dict)

{'풀': 800, '가위': 2500, '크래파스': 5000}